@use"../media-queries/mixin.scss" as * ; 

@import url('https://fonts.cdnfonts.com/css/neo-sans-arabic');



::ng-deep.p-paginator-first {
    display: none !important;
}


::ng-deep.p-datatable .p-paginator-bottom{
    direction: ltr !important;
}

::ng-deep.p-sortable-column-icon{
    padding-right: 10px;
}
::ng-deep.p-paginator-last {
    display: none !important;
}

::ng-deep.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #8A74F9;
    color: var(--white-dark-white, #FFF);

    border-color: #EFF6FF;
}

:ng-deep.p-paginator{
    flex-direction: row-reverse;
}

::ng-deep.p-paginator .p-paginator-pages .p-paginator-page {
    background-color: transparent;
    border: 0 none;
    color: #6c757d;
    
    margin: 0.143rem;
    transition: box-shadow 0.2s;
    border-radius: 5px;
   
}
th{
    color: #ABAAB1 !important;
    font-family: 'Neo Sans Arabic', sans-serif ;
    font-size: 13.279px;
    font-weight: 400;
    text-align: center !important   ;
    @include beakpoints (mobile) {
        font-size: 11px;

     }

}

td{
    text-align: center !important   ;
    font-size: 13.279px;
    font-weight: 400;
    height: 100%;
    @include beakpoints (mobile) {
        font-size: 10px !important;

     }

   

    span{
        @include beakpoints (mobile) {
            font-size: 10px !important;
    
         }
    }
}
.download-file-container{
   display: flex;
   justify-content: center;
    .download-file{
        display: flex;
        .download-btn{
            margin-right: 15px;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    
        .ticket-info{
            text-align: end;
            margin-right: 10px;
            p{
                margin: 0;
                font-size: 11.667px;
                font-family: 'Neo Sans Arabic', sans-serif ;
                font-weight: 400;
                color: var(--Black, #000);
                @include beakpoints (mobile) {
                    font-size: 10px !important;
            
                 }
            }
    
            span{
                font-size: 10px;
    
                small{
                    color: rgba(0, 0, 0, 0.40);
    
    
                }
            }
        }
        .ticket-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(138, 116, 249, 0.10);
            width: 31.667px;
            height: 31.667px;
            border-radius: 7.917px;
    
        }
    }
    
}

.number-of-buying{
    font-family: Neo Sans Arabic;
    font-size: 13.279px;
    font-weight: 400;
    color: #1C1C28;


}

.location{
    font-family: Neo Sans Arabic;
    font-size: 13.279px;
    font-weight: 400;
    color: #1C1C28;
    @include beakpoints (mobile) {
        font-size: 10px !important;

     }

     
     .location-container{
        position: relative;
        &:hover  .hover{
            display: flex ;
        }
        P{
            margin: 0;
           
         }

         .hover{
            display: none;
            width: 150px;
            height: 40px;
            border-radius: 8px;

            align-items: center;
            justify-content: center;
            background-color: #1C1C28;
            position: absolute;
            top: -50px;
            left: 0px;
            color: white;

            .description{
                font-size: 12px;

            }

            .arrow{
                
                width: 11px;
                height: 15px;
                position: absolute;
                top: 80%;
                left: 50%;
                background-color: red;
                transform: translateX(-50%) rotate(46deg);
                background-color: #1C1C28;

            }
         }
     }
     
}
.customer-personal-info-container{
    display: flex;
    justify-content: center;
    .all-info{
        display: flex;
        align-items: center;
        .customer-personal-info{
            margin-right: 10px;
            h6{
                margin: 0;
                font-family: "Neo Sans Arabic";
                font-size: 11.619px;
                font-weight: 400;
                color: #1C1C28;
                @include beakpoints (mobile) {
                    font-size: 9px ;
            
                 }
            }
    
            span{
                font-family: Poppins;
                font-size: 9.959px;
                font-weight: 400;
                color: #92A1AD;
    
    
            }
        }   
    
        .customer-img-container{
            
            width: 29.877px;
            height: 29.877px;
            overflow: hidden;
            border-radius: 50%;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
 
}

.head-with-icon-container{
    display: flex;
    justify-content: center;
    .head-with-icon{
        display: flex;
        align-items: center;
        .icon-container{
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

