<section>
    <div class="search-container">
        <h3>مبيعات التذاكر</h3>
        <div class="search-input">
            <input type="text" dir="rtl" placeholder="بحث عن..">
            <div class="search-icon">
                <img src="../../assets/search-normal.svg" alt="">

            </div>
        </div>
        <button class="setting-btn">
            <img src="../../assets/setting-4.svg" alt="">
        </button>
        <button class="arrow-btn">
            <img src="../../assets/arrow.svg" alt="">
        </button>
        
        

    </div>
    <div class="options">
        <p-inputSwitch></p-inputSwitch>
        <p>مفعلة</p>

        <button pButton pRipple label="حجز تزكره جديدة" class="p-button-success"></button>
        
        
    </div>

  
    

</section>
